
<table>
      <td><b>Title:</b></td>    
      <td><%=@book.title %></td>
    </tr>
    <tr>
      <td><b>Body:</b></td>
      <td><%= @book.body %></td>
    </tr>
</table>
<div class="show_tab">
<%= link_to "Edit",edit_book_path(@book.id)%>
<a href="/books">Back</a>
</div>